
/* Your CSS Code here. */
.holder{
	display:flex;
	justify-content:space-evenly;
	align-items:center;
	height:100vh;
	flex-wrap:wrap;
}
.box{
	width:100px;
	height:100px;
	border: 2px solid black;
	margin:10px;
	font-size:50px;
	display:flex;
	justify-content:center;
	align-items:center;
	border:none;
	color:ghostwhite;
	flex:wrap;
}
#b1{
	background-color:red;
}
#b2{
	background-color:yellow;
}
#b3{
	background-color:green;
}
#b4{
	background-color:orange;
}